#settings {
	border: 1px solid black;
	margin-left:auto;
	margin-right:auto;
}
h1 {
	text-align:center;
}
select, button {
	width: 100%;
	margin-bottom: 0.5em;
	height: 2em;
}
#caveat {
	display:block;
	text-align:center;
}
table {
	border:1px solid black;
	margin-left:auto;
	margin-right:auto;
}